body {
    font-family: Arial, sans-serif;
    background-color: #111;
    color: white;
    text-align: center;
}

.container {
    margin-top: 100px;
}

#redeemButton {
    background-color: #ff4081;
    color: white;
    padding: 15px 30px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
}
